{% use "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}
    <tr>
        <td>
            {{ form_label(form, label|default(null)) }}
        </td>
        <td>
            {% if form.children|length == 0 %}
                {{ form_errors(form) }}
            {% endif %}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if form.children|length > 0 %}
        {% if errors|length > 0 %}
        <tr>
            <td colspan="2">
                {{ parent() }}
            </td>
        </tr>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}

{% block form_widget %}
{% spaceless %}
    {% if form.children|length > 0 %}
        <table {{ block('widget_container_attributes') }}>
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </table>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget %}
