{% use "form_div_layout.html.twig" %}

{% block field_row %}
{% spaceless %}
    <tr>
        <td>
            {{ form_label(form, label|default(null)) }}
        </td>
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock field_row %}

{% block prototype_row %}
{% spaceless %}
    <tr id="{{ id }}_container" style="display: none;">
        <td colspan="2">
            <table>
                {{ form_row(form) }}
            </table>
        </td>
        <td>
            {# using colspan="2" would cause html5 validation to fail when the prototype is the only child #}
        </td>
    </tr>
{% endspaceless %}
{% endblock prototype_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <tr>
        <td colspan="2">
            {{ block('field_errors') }}
        </td>
    </tr>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}

{% block form_widget %}
{% spaceless %}
    <table {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </table>
{% endspaceless %}
{% endblock form_widget %}
