<div class="exception-summary">
    <div class="exception-metadata">
        <div class="container">
            <h2 class="exception-hierarchy">
                {{ exception.class|abbr_class }}
                {% for previousException in exception.allPrevious %}
                    <span class="icon">{{ block('icon_chevron_left', '@Twig/Exception/_images.twig') }}</span>
                    {{ previousException.class|abbr_class }}
                {% endfor %}
            </h2>
            <h2 class="exception-http">
                <small>HTTP</small> <strong>{{ status_code }}</strong> {{ status_text }}
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="exception-message-wrapper">
            <h1 class="break-long-words exception-message">
                {{- exception.message|nl2br|format_file_from_text -}}
            </h1>

            <div class="exception-illustration hidden-xs-down">
                {{ block('symfony_ghost', '@Twig/Exception/_images.twig') }}
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="main">
    <div class="sf-tabs">
        <div class="tab">
            {% set exception_as_array = exception.toarray %}
            <h3 class="tab-title">
                {% if exception_as_array|length > 1 %}
                    Exceptions <span class="badge">{{ exception_as_array|length }}</span>
                {% else %}
                    Exception
                {% endif %}
            </h3>

            <div class="tab-content">
                {% for e in exception_as_array %}
                    {{ include('@Twig/Exception/traces.html.twig', { exception: e, index: loop.index }, with_context = false) }}
                {% endfor %}
            </div>
        </div>

        <div class="tab {{ logger is empty ? 'disabled' }}">
            <h3 class="tab-title">
                Logs
                {% if logger.counterrors %}<span class="badge status-error">{{ logger.counterrors }}</span>{% endif %}
            </h3>

            <div class="tab-content">
                {% if logger %}
                    {{ include('@Twig/Exception/logs.html.twig', { logs: logger.logs }, with_context = false)  }}
                {% else %}
                    <div class="empty">
                        <p>No log messages</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">
                {% if exception_as_array|length > 1 %}
                    Stack Traces <span class="badge">{{ exception_as_array|length }}</span>
                {% else %}
                    Stack Trace
                {% endif %}
            </h3>

            <div class="tab-content">
                {% for e in exception_as_array %}
                    {{ include('@Twig/Exception/traces_text.html.twig', { exception: e, index: loop.index, num_exceptions: loop.length }, with_context = false) }}
                {% endfor %}
            </div>
        </div>

        {% if currentContent is not empty %}
        <div class="tab">
            <h3 class="tab-title">Output content</h3>

            <div class="tab-content">
                {{ currentContent }}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
