{% extends 'TwigBundle::layout.html.twig' %}

{% block head %}
    <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    {% include 'TwigBundle:Exception:exception.html.twig' %}
{% endblock %}

{% block header_right %}
    {% if showErrorTemplateLink %}
    <span class="sf-reset">
        <a href="?{{ errorTemplateParams|url_encode }}"
           title="Render the true error page that your end users will see"
           onclick="alert('If you don\'t see an error page after the refresh, see: http://symfony.com/doc/current/cookbook/controller/error_pages.html');"
        >
            Render True Error Page
        </a>
    </span>
    {% endif %}
{% endblock %}
