<div class="trace trace-as-html">
    <table class="trace-details">
        <thead class="trace-head">
            <tr>
                <th class="sf-toggle" data-toggle-selector="#trace-html-{{ index }}" data-toggle-initial="{{ 1 == index ? 'display' }}">
                    <h3 class="trace-class">
                        <span class="trace-namespace">
                            {{ exception.class|split('\\')|slice(0, -1)|join('\\') }}
                            {{- exception.class|split('\\')|length > 1 ? '\\' }}
                        </span>
                        {{ exception.class|split('\\')|last }}

                        <span class="icon icon-close">{{ block('icon_minus_square_o', '@Twig/Exception/_images.twig') }}</span>
                        <span class="icon icon-open">{{ block('icon_plus_square_o', '@Twig/Exception/_images.twig') }}</span>
                    </h3>

                    {% if exception.message is not empty and index > 1 %}
                        <p class="break-long-words trace-message">{{ exception.message }}</p>
                    {% endif %}
                </th>
            </tr>
        </thead>

        <tbody id="trace-html-{{ index }}" class="sf-toggle-content">
        {% for i, trace in exception.trace %}
            <tr>
                <td class="trace-line {{ trace.file|default(false) ? 'sf-toggle' }}" data-toggle-selector="#trace-html-{{ index }}-{{ i }}" data-toggle-initial="{{ loop.first ? 'display' }}">
                    {{ include('@Twig/Exception/trace.html.twig', { prefix: index, i: i, trace: trace }, with_context = false) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
