{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if 'unknown' == collector.symfonyState %}
        {% set block_status = '' %}
        {% set symfony_version_status = 'Unable to retrieve information about the Symfony version.' %}
    {% elseif 'eol' == collector.symfonyState %}
        {% set block_status = 'red' %}
        {% set symfony_version_status = 'This Symfony version will no longer receive security fixes.' %}
    {% elseif 'eom' == collector.symfonyState %}
        {% set block_status = 'yellow' %}
        {% set symfony_version_status = 'This Symfony version will only receive security fixes.' %}
    {% elseif 'dev' == collector.symfonyState %}
        {% set block_status = 'yellow' %}
        {% set symfony_version_status = 'This Symfony version is still in the development phase.' %}
    {% else %}
        {% set block_status = '' %}
        {% set symfony_version_status = '' %}
    {% endif %}

    {% set icon %}
            {% if collector.symfonyState is defined %}
                <a href="https://symfony.com/" title="{{ symfony_version_status }}">
                    <span class="sf-toolbar-label">
                        {{ include('@WebProfiler/Icon/symfony.svg.twig') }}
                    </span>
                    <span class="sf-toolbar-value">{{ collector.symfonyversion }}</span>
                </a>
            {% elseif collector.applicationname %}
                <span class="sf-toolbar-label">{{ collector.applicationname }}</span>
                <span class="sf-toolbar-value">{{ collector.applicationversion }}</span>
            {% endif %}
    {% endset %}

    {% set text %}
        {% if collector.symfonyversion is defined %}
            <div class="sf-toolbar-info-piece">
                <a href="https://symfony.com/doc/{{ collector.symfonyversion }}/index.html" rel="help">
                    Read Symfony {{ collector.symfonyversion }} Docs
                </a>
            </div>
        {% endif %}

        {% if collector.applicationname %}
            <div class="sf-toolbar-info-piece">
                {{ collector.applicationname }} <b>{{ collector.applicationversion }}</b>
            </div>
        {% endif %}

        <div class="sf-toolbar-info-piece">
            <b>Profiler token</b>
            <span>
                {% if profiler_url %}
                    <a href="{{ profiler_url }}">{{ collector.token }}</a>
                {% else %}
                    {{ collector.token }}
                {% endif %}
            </span>
        </div>

        {% if 'n/a' != collector.appname %}
            <div class="sf-toolbar-info-piece">
                <b>Kernel name</b>
                <span>{{ collector.appname }}</span>
            </div>
        {% endif %}

        {% if 'n/a' != collector.env %}
            <div class="sf-toolbar-info-piece">
                <b>Environment</b>
                <span>{{ collector.env }}</span>
            </div>
        {% endif %}

        {% if 'n/a' != collector.debug %}
            <div class="sf-toolbar-info-piece">
                <b>Debug</b>
                <span class="{{ debug_status_class }}">{{ collector.debug ? 'enabled' : 'disabled' }}</span>
            </div>
        {% endif %}

        <div class="sf-toolbar-info-piece sf-toolbar-info-php">
            <b>PHP version</b>
            <span>{{ collector.phpversion }}</span>
        </div>

        <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
            <b>PHP Extensions</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasxdebug ? 'green' : 'red' }}">xdebug</span>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasaccelerator ? 'green' : 'red' }}">accel</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>PHP SAPI</b>
            <span>{{ collector.sapiName }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false, status: block_status }) }}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><svg width="21" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 21 28" enable-background="new 0 0 21 28" xml:space="preserve"><g><path fill="#3F3F3F" d="M5 17H1c-0.5 0-1-0.4-1-1V9c0-0.5 0.4-1 1-1h4c0.5 0 1 0.4 1 1v7C6 16.6 5.6 17 5 17z"/><path fill="#3F3F3F" d="M19 17h-4c-0.5 0-1-0.4-1-1V9c0-0.5 0.4-1 1-1h4c0.5 0 1 0.4 1 1v7C20 16.6 19.6 17 19 17z"/><path fill="#3F3F3F" d="M12.1 20h-4c-0.5 0-1-0.4-1-1v-7c0-0.5 0.4-1 1-1h4c0.5 0 1 0.4 1 1v7C13.1 19.5 12.6 20 12.1 20z"/><rect x="9.1" y="5.8" fill="#3F3F3F" width="2" height="4.5"/><rect x="16" y="17.7" fill="#3F3F3F" width="2" height="4.5"/><rect x="2.1" y="17.7" fill="#3F3F3F" width="2" height="4.5"/><rect x="9.1" y="20.7" fill="#3F3F3F" width="2" height="1.5"/><rect x="2.1" y="5.7" fill="#3F3F3F" width="2" height="1.5"/><rect x="16.1" y="5.7" fill="#3F3F3F" width="2" height="1.5"/></g></svg></span>
    <strong>Config</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Project Configuration</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            {% if collector.applicationname %}
                <th>Application</th>
                <td>{{ collector.applicationname }} {{ collector.applicationversion }} (on Symfony {{ collector.symfonyversion }})</td>
            {% else %}
                <th>Symfony version</th>
                <td>{{ collector.symfonyversion }}</td>
            {% endif %}
        </tr>
        {% if 'n/a' != collector.appname %}
            <tr>
                <th>Application name</th>
                <td>{{ collector.appname }}</td>
            </tr>
        {% endif %}
        {% if 'n/a' != collector.env %}
            <tr>
                <th>Environment</th>
                <td>{{ collector.env }}</td>
            </tr>
        {% endif %}
        {% if 'n/a' != collector.debug %}
            <tr>
                <th>Debug</th>
                <td>{{ collector.debug ? 'enabled' : 'disabled' }}</td>
            </tr>
        {% endif %}
    </table>

    <h2>PHP configuration</h2>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        <tr>
            <th>PHP version</th>
            <td>{{ collector.phpversion }}</td>
        </tr>
        <tr>
            <th>Xdebug</th>
            <td>{{ collector.hasxdebug ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>PHP acceleration</th>
            <td>{{ collector.hasaccelerator ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>XCache</th>
            <td>{{ collector.hasxcache ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>APC</th>
            <td>{{ collector.hasapc ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>Zend OPcache</th>
            <td>{{ collector.haszendopcache ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>EAccelerator</th>
            <td>{{ collector.haseaccelerator ? 'enabled' : 'disabled' }}</td>
        </tr>
        <tr>
            <th>Full PHP configuration</th>
            <td><a href="{{ path('_profiler_phpinfo') }}"><code>phpinfo</code></a></td>
        </tr>
    </table>

    {% if collector.bundles %}
        <h2>Active bundles</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Path</th>
            </tr>
            {% set bundles = collector.bundles %}
            {% for name in bundles|keys|sort %}
            <tr>
                <th>{{ name }}</th>
                <td>{{ bundles[name] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
