{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block menu %}
<span class="label">
    <span class="icon">{{ include('@WebProfiler/Icon/event.svg') }}</span>
    <strong>Events</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Event Dispatcher</h2>

    {% if collector.calledlisteners|length > 0 %}
        {{ block('panelContent') }}
    {% else %}
        <div class="empty">
            <p>No events have been recorded. Check that debugging is enabled in the kernel.</p>
        </div>
    {% endif %}
{% endblock %}

{% block panelContent %}
    <div id="tabs">
        <input id="tab-called" type="radio" name="tabs" checked="checked"/>
        <label for="tab-called">Called listeners <span class="badge">{{ collector.calledlisteners|length }}</span></label>
        <div>
            {{ helper.render_table(collector.calledlisteners, true) }}
        </div>

        <input id="tab-not-called" type="radio" name="tabs" />
        <label for="tab-not-called">Not Called Listeners <span class="badge">{{ collector.notcalledlisteners|length }}</span></label>
        <div>
            {% if collector.notcalledlisteners|length > 0 %}
                {# sort collector.notcalledlisteners alphabetically #}
                {% set notcalledlisteners = [] %}
                {% for key in collector.notcalledlisteners|keys|sort %}
                    {% set notcalledlisteners = notcalledlisteners|merge([ collector.notcalledlisteners[key] ]) %}
                {% endfor %}

                {{ helper.render_table(collector.notcalledlisteners) }}
            {% else %}
                <div class="empty">
                    <p>
                        <strong>There are no uncalled listeners</strong>.
                    </p>
                    <p>
                        All listeners were called for this request or an error occurred
                        when trying to collect uncalled listeners (in which case check the
                        logs to get more information).
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% macro render_table(events, show_order = false) %}
    <table class="auto-layout">
        <thead>
            <tr>
                {% if show_order %}<th>Order</th>{% endif %}
                <th>Event name</th>
                <th>Listener</th>
            </tr>
        </thead>
        <tbody>
        {% for listener in events %}
            <tr>
                {% if show_order %}<td class="small-text">{{ loop.index }}</td>{% endif %}
                <td>{{ listener.event }}</td>
                <td>
                    {% if listener.type == 'Closure' %}

                        Closure
                        <small class="newline muted">(there is no class or file information)</small>

                    {% elseif listener.type == 'Function' %}

                        {% set link = listener.file|file_link(listener.line) %}
                        {% if link %}
                            <a href="{{ link }}">{{ listener.function }}()</a>
                            <small class="newline muted">{{ listener.file }}</small>
                        {% else %}
                            {{ listener.function }}()
                            <small class="newline muted">{{ listener.file }} (line {{ listener.line }})</small>
                        {% endif %}

                    {% elseif listener.type == "Method" %}

                        {% set link = listener.file|file_link(listener.line) %}
                        {% if link %}
                            <a href="{{ link }}">{{ listener.class|abbr_class|striptags }} :: {{ listener.method }}()</a>
                            <small class="newline muted">{{ listener.class }}</small>
                        {% else %}
                            {{ listener.class }} :: <strong>{{ listener.method }}()</strong>
                            <small class="newline muted">{{ listener.file }} (line {{ listener.line }})</small>
                        {% endif %}

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
