{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% from _self import form_tree_entry, form_tree_details %}

{% block toolbar %}
    {% if collector.data|length %}
        {% set icon %}
            <img width="20" height="28" alt="Forms" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAbCAQAAADW1mdTAAAAWklEQVR4AWO0Z0AGLP//wFgMfxiRZdAUMvxHYmMqRJiFAAhzYQr/Q3X/x1QGkyFPIev/31hUsTL8xjARJ0AoJAjIVMhIPath5tHBxP+Dz9cj2sT/RKdHeikEADQ4NqkZcjvFAAAAAElFTkSuQmCC"/>
            <span class="sf-toolbar-status sf-toolbar-status-{% if collector.data.nb_errors %}red{% else %}green{% endif %}">{% if collector.data.nb_errors %}{{ collector.data.nb_errors }}{% else %}{{ collector.data.forms|length }}{% endif %}</span>
        {% endset %}

        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAbCAQAAADW1mdTAAAAWklEQVR4AWO0Z0AGLP//wFgMfxiRZdAUMvxHYmMqRJiFAAhzYQr/Q3X/x1QGkyFPIev/31hUsTL8xjARJ0AoJAjIVMhIPath5tHBxP+Dz9cj2sT/RKdHeikEADQ4NqkZcjvFAAAAAElFTkSuQmCC" alt=""/></span>
        <strong>Forms</strong>
        {% if collector.data.forms|length %}
            <span class="count"><span>{{ collector.data.forms|length }}</span></span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <style type="text/css">
    .window {
        /*background: #F6F6F6;*/
        margin: -30px -40px -40px;
    }
    .tree {
        width: 230px;
        padding: 10px;
        font-size: 12px;
        float: left;
    }
    #content .tree h2 {
        font-size: 13px;
        padding: 5px 7px;
        margin: 0;
    }
    .tree li {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .tree a {
        text-decoration: none;
        display: block;
        padding: 5px 7px;
        border-radius: 6px;
        color: #313131;
    }
    .tree ul ul a {
        padding-left: 22px;
    }
    .tree ul ul ul a {
        padding-left: 37px;
    }
    .tree ul ul ul ul a {
        padding-left: 52px;
    }
    .tree ul ul ul ul ul a {
        padding-left: 67px;
    }
    .tree a:hover {
        background: #dfdfdf;
    }
    .tree a.active, a.active:hover {
        background: #dfdfdf;
        font-weight: bold;
        color: #313131;
    }
    .tree-details {
        border-left: 1px solid #dfdfdf;
        background: white;
        margin-left: 250px;
        padding: 30px 40px 40px;
    }
    .form-type {
        color: #999999;
    }
    .hidden {
        display: none;
    }
    </style>

    {% if collector.data.forms|length %}
        <div class="window">
            <div class="tree">
                <h2>Forms</h2>

                <ul>
                {% for formName, formData in collector.data.forms %}
                    {{ form_tree_entry(formName, formData) }}
                {% endfor %}
                </ul>
            </div>

            {% for formName, formData in collector.data.forms %}
                {{ form_tree_details(formName, formData) }}
            {% endfor %}
        </div>
    {% else %}
        <p><em>No forms were submitted for this request.</em></p>
    {% endif %}

    <script>
    function TabView() {
        var _activeLink = null,
            _activeView = null;

        this.init = function () {
            var links = document.querySelectorAll('.tree a'),
                views = document.querySelectorAll('.tree-details'),
                i,
                l;

            for (i = 0, l = links.length; i < l; ++i) {
                (function () {
                    var link = links[i];

                    link.addEventListener('click', function (e) {
                        var href = link.getAttribute('href'),
                            targetId = href.substr(href.indexOf('#') + 1),
                            view = document.getElementById(targetId);

                        if (view) {
                            if (null !== _activeLink) {
                                Sfjs.removeClass(_activeLink, 'active');
                            }

                            if (null !== _activeView) {
                                Sfjs.addClass(_activeView, 'hidden');
                            }

                            Sfjs.addClass(link, 'active');
                            Sfjs.removeClass(view, 'hidden');

                            _activeLink = link;
                            _activeView = view;
                        }

                        e.preventDefault();

                        return false;
                    })
                }());
            }

            for (i = 0, l = views.length; i < l; ++i) {
                Sfjs.addClass(views[i], 'hidden');
            }

            if (links.length > 0) {
                Sfjs.addClass(links[0], 'active');
                _activeLink = links[0];

                if (views.length > 0) {
                    Sfjs.removeClass(views[0], 'hidden');
                    _activeView = views[0];
                }
            }
        }
    }

    var tabView = new TabView();

    tabView.init();
    </script>
{% endblock %}

{% macro form_tree_entry(name, data) %}
    <li>
        <a href="#details_{{ data.id }}">{{ name }}</a>

        {% if data.children is not empty %}
            <ul>
                {% for childName, childData in data.children %}
                    {{ _self.form_tree_entry(childName, childData) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro form_tree_details(name, data) %}
    <div class="tree-details" id="details_{{ data.id }}">
        <h2>
            {{ name }}
            {% if data.type_class is defined %}
            <span class="form-type">[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]</span>
            {% endif %}
        </h2>

        {% if data.errors is defined and data.errors|length > 0 %}
        <h3>Errors</h3>

        <table>
            <tr>
                <th width="50%">Message</th>
                <th>Cause</th>
            </tr>
            {% for error in data.errors %}
            <tr>
                <td>{{ error.message }}</td>
                <td><em>Unknown.</em></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if data.default_data is defined %}
        <h3>Default Data</h3>

        <table>
            <tr>
                <th width="180">Model Format</th>
                <td>
                    {% if data.default_data.model is defined %}
                        <pre>{{ data.default_data.model }}</pre>
                    {% else %}
                        <em>same as normalized format</em>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Normalized Format</th>
                <td><pre>{{ data.default_data.norm }}</pre></td>
            </tr>
            <tr>
                <th>View Format</th>
                <td>
                    {% if data.default_data.view is defined %}
                        <pre>{{ data.default_data.view }}</pre>
                    {% else %}
                        <em>same as normalized format</em>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}

        {% if data.submitted_data is defined %}
        <h3>Submitted Data</h3>

        {% if data.submitted_data.norm is defined %}
            <table>
                <tr>
                    <th width="180">View Format</th>
                    <td>
                        {% if data.submitted_data.view is defined %}
                            <pre>{{ data.submitted_data.view }}</pre>
                        {% else %}
                            <em>same as normalized format</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Normalized Format</th>
                    <td><pre>{{ data.submitted_data.norm }}</pre></td>
                </tr>
                <tr>
                    <th>Model Format</th>
                    <td>
                        {% if data.submitted_data.model is defined %}
                            <pre>{{ data.submitted_data.model }}</pre>
                        {% else %}
                            <em>same as normalized format</em>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% else %}
            <p><em>This form was not submitted.</em></p>
        {% endif %}
        {% endif %}

        {% if data.passed_options is defined %}
        <h3>Passed Options</h3>

        {% if data.passed_options|length %}
        <table>
            <tr>
                <th width="180">Option</th>
                <th>Passed Value</th>
                <th>Resolved Value</th>
            </tr>
            {% for option, value in data.passed_options %}
            <tr>
                <th>{{ option }}</th>
                <td><pre>{{ value }}</pre></td>
                <td>
                    {% if data.resolved_options[option] is sameas(value) %}
                        <em>same as passed value</em>
                    {% else %}
                        <pre>{{ data.resolved_options[option] }}</pre>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p><em>No options where passed when constructing this form.</em></p>
        {% endif %}
        {% endif %}

        {% if data.resolved_options is defined %}
        <h3>Resolved Options</h3>

        <table>
            <tr>
                <th width="180">Option</th>
                <th>Value</th>
            </tr>
            {% for option, value in data.resolved_options %}
            <tr>
                <th>{{ option }}</th>
                <td><pre>{{ value }}</pre></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if data.view_vars is defined %}
        <h3>View Variables</h3>

        <table>
            <tr>
                <th width="180">Variable</th>
                <th>Value</th>
            </tr>
            {% for variable, value in data.view_vars %}
            <tr>
                <th>{{ variable }}</th>
                <td><pre>{{ value }}</pre></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    {% for childName, childData in data.children %}
        {{ _self.form_tree_details(childName, childData) }}
    {% endfor %}
{% endmacro %}
