{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
<span style="white-space:nowrap; color:#2f2f2f; display:inline-block; min-height:24px; border-right:1px solid #cdcdcd; padding:5px 10px 5px 10px; ">
    <img width="16" height="28" alt="Logs" style="vertical-align: middle; margin-right: 10px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARxJREFUeNpi/P//PwMlgImBQjDwBrAAMY+Xl9fub9++WRCriYuL68S2bdtcz50794URGIgaDg4O18mxXVBQcCnICyLkaF6xYsXKz58/h7BAvYEBDhw4cAFIfQBiAaALDdDlJSQkvjAxMWHXDAULgRhkiAEUo4PHQO//xxcLF4CBdABqCDbwdxglJKwAGPL7B9YFhNIBQQOISAcEvUAoHQySQCTLAC0trddA6jfMC78sLS0fX7lyRaapqemBoaHhU6DYHzz6vwPxqX379vH8/v2bA1SgqHz//j12ypQpMYcPH5b49OkTF7EuUVBQeAgygBvkKiA2BWIxErwOsugp49mzZxmMjIw4gRxxIBYFYk4iwwYUBm8Yh37FAhBgAAJwamBjs1nJAAAAAElFTkSuQmCC"/>
    <span>{{ collector.counterrors }}</span>
</span>
{% endblock %}

{% block menu %}
<span class="picto png_fix">
    <strong>Logs</strong>
    <span class="count">
        <span>{{ collector.counterrors }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Logs</h2>

    {% if collector.logs %}
        <ul class="alt">
            {% for i, log in collector.logs %}
                <li class="{{ i is odd ? 'odd' : 'even' }}{% if 'ERR' == log.priorityName %} error{% endif %}">
                    {{ log.priorityName }}
                    {{ log.message }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <em>No logs available.</em>
    {% endif %}
{% endblock %}
