{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% if collector.counterrors or collector.countdeprecations or collector.countscreams %}
        {% set icon %}
            {% set status_color = collector.counterrors ? 'red' : collector.countdeprecations ? 'yellow' : '' %}
            {% set error_count = collector.counterrors + collector.countdeprecations + collector.countscreams %}
            {{ include('@WebProfiler/Icon/logger.svg') }}
            <span class="sf-toolbar-value">{{ error_count }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Errors</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.counterrors ? 'red' }}">{{ collector.counterrors|default(0) }}</span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Deprecated Calls</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countdeprecations ? 'yellow' }}">{{ collector.countdeprecations|default(0) }}</span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Silenced Errors</b>
                <span class="sf-toolbar-status">{{ collector.countscreams|default(0) }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label label-status-{{ collector.counterrors ? 'error' : collector.countdeprecations ? 'warning' : '' }} {{ collector.logs|length > 0 ? '' : 'disabled' }}">
        <span class="icon">{{ include('@WebProfiler/Icon/logger.svg') }}</span>
        <strong>Logs</strong>
        {% if collector.counterrors or collector.countdeprecations or collector.countscreams %}
            {% set error_count = collector.counterrors + collector.countdeprecations + collector.countscreams %}
            <span class="count">
                <span>{{ error_count }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Log Messages</h2>

    {% if collector.logs %}

        {# sort collected logs in groups #}
        {% set deprecation_logs, debug_logs, info_and_error_logs = [], [], [] %}
        {% for log in collector.logs %}
            {% if log.context.level is defined and log.context.type is defined and log.context.type in [constant('E_DEPRECATED'), constant('E_USER_DEPRECATED')] %}
                {% set deprecation_logs = deprecation_logs|merge([log]) %}
            {% elseif log.priorityName == 'DEBUG' %}
                {% set debug_logs = debug_logs|merge([log]) %}
            {% else %}
                {% set info_and_error_logs = info_and_error_logs|merge([log]) %}
            {% endif %}
        {% endfor %}

        <div class="sf-tabs">
            <div class="tab">
                <h3 class="tab-title">Info. & Errors <span class="badge">{{ info_and_error_logs|length }}</span></h3>

                <div class="tab-content">
                    {% if info_and_error_logs|length > 0 %}
                        {{ helper.render_table(info_and_error_logs, true) }}
                    {% else %}
                        <div class="empty">
                            <p>There are no log messages of this level.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="tab">
                <h3 class="tab-title">Deprecations <span class="badge">{{ deprecation_logs|length }}</span></h3>

                <div class="tab-content">
                    {% if deprecation_logs|length > 0 %}
                        {{ helper.render_table(deprecation_logs, false, true) }}
                    {% else %}
                        <div class="empty">
                            <p>There are no log messages about deprecated features.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="tab">
                <h3 class="tab-title">Debug <span class="badge">{{ debug_logs|length }}</span></h3>

                <div class="tab-content">
                    {% if debug_logs|length > 0 %}
                        {{ helper.render_table(debug_logs) }}
                    {% else %}
                        <div class="empty">
                            <p>There are no log messages of this level.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <div class="empty">
            <p>No log messages available.</p>
        </div>
    {% endif %}
{% endblock %}

{% macro render_table(logs, show_level = false, is_deprecation = false) %}
    {% import _self as helper %}

    <table class="auto-layout logs">
        <thead>
            <tr>
                <th>{{ show_level ? 'Level' : 'Time' }}</th>
                <th>Channel</th>
                <th>Message</th>
            </tr>
        </thead>

        <tbody>
            {% for log in logs %}
                {% set css_class =
                    is_deprecation ? '' :
                    log.priorityName in ['CRITICAL', 'ERROR', 'ALERT', 'EMERGENCY'] ? 'status-error' :
                    log.priorityName in ['NOTICE', 'WARNING'] ? 'status-warning' : ''
                %}
                <tr class="{{ css_class }}">
                    <td class="font-normal text-small">
                        {% if show_level %}
                            <span class="colored text-bold nowrap">{{ log.priorityName }}</span>
                        {% endif %}
                        <span class="muted nowrap newline">{{ log.timestamp|date('H:i:s') }}</span>
                    </td>

                    <td class="font-normal text-small text-bold nowrap">{{ log.channel }}</td>
                    <td class="font-normal">{{ helper.render_log_message(log, is_deprecation) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_log_message(log, is_deprecation = false) %}
    {{ log.message }}

    {% if is_deprecation %}
        {% set stack = log.context.stack|default([]) %}
        {% set id = 'sf-call-stack-' ~ random(999) %}

        {% if log.context.errorCount is defined %}
        ({{ log.context.errorCount }}x)
        {% endif %}

        {% if stack %}
            <a href="#" onclick="Sfjs.toggle('{{ id }}', document.getElementById('{{ id }}-on'), document.getElementById('{{ id }}-off')); return false;">
                <img class="toggle" id="{{ id }}-off" alt="-" src="data:image/gif;base64,R0lGODlhEgASAMQSANft94TG57Hb8GS44ez1+mC24IvK6ePx+Wa44dXs92+942e54o3L6W2844/M6dnu+P/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABIALAAAAAASABIAQAVCoCQBTBOd6Kk4gJhGBCTPxysJb44K0qD/ER/wlxjmisZkMqBEBW5NHrMZmVKvv9hMVsO+hE0EoNAstEYGxG9heIhCADs=" style="display:none">
                <img class="toggle" id="{{ id }}-on" alt="+" src="data:image/gif;base64,R0lGODlhEgASAMQTANft99/v+Ga44bHb8ITG52S44dXs9+z1+uPx+YvK6WC24G+944/M6W28443L6dnu+Ge54v/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAASABIAQAVS4DQBTiOd6LkwgJgeUSzHSDoNaZ4PU6FLgYBA5/vFID/DbylRGiNIZu74I0h1hNsVxbNuUV4d9SsZM2EzWe1qThVzwWFOAFCQFa1RQq6DJB4iIQA7" style="display:inline">
            </a>
        {% endif %}

        {% for index, call in stack if index > 1 %}
            {% if index == 2 %}
                <ul class="sf-call-stack" id="{{ id }}" style="display: none">
            {% endif %}
            {% if call.class is defined %}
                {% set from = call.class|abbr_class ~ '::' ~ call.function|abbr_method() %}
            {% elseif call.function is defined %}
                {% set from = call.function|abbr_method %}
            {% elseif call.file is defined %}
                {% set from = call.file %}
            {% else %}
                {% set from = '-' %}
            {% endif %}

            <li>Called from {{ call.file is defined and call.line is defined ? call.file|format_file(call.line, from) : from|raw }}</li>

            {% if index == stack|length - 1 %}
                </ul>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if log.context is defined and log.context is not empty %}
            <span class="metadata">
                <strong>Context</strong>: {{ log.context|json_encode(64 b-or 256)|replace({
                    '{"' : '{ "', '"}' : '" }', '":{' : '": {', '":"' : '": "', '","' : '", "'
                }) }}
            </span>
        {% endif %}
    {% endif %}
{% endmacro %}
