{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block menu %}
<span class="label">
    <span class="icon">{{ include('@WebProfiler/Icon/messages.svg') }}</span>
    <strong>Messages</strong>

    {% if collector.messages|length > 0 %}
        <span class="count">
            <span>{{ collector.messages|length }}</span>
        </span>
    {% endif %}
</span>
{% endblock %}

{% block panel %}
    <h2>Messages</h2>

    {% if collector.messages is empty %}
    <p>No messages</p>
    {% else %}
    <table>
        <thead>
        <tr>
            <th>Message</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {% for message in collector.messages %}
        <tr>
            <td>{{ message.message.type }}</td>
            <td>
                {% if message.result.type is defined %}
                    {{ message.result.type }}
                {% endif %}

                {% if message.exception.type is defined %}
                    {{ message.exception.type }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% set color_code = 'normal' %}
    {% set message_count = 0 %}
    {% set icon %}
        {{ include('@WebProfiler/Icon/messages.svg') }}
        <span class="sf-toolbar-value">{{ message_count }}</span>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: 'messages', status: color_code }) }}
{% endblock %}
