{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% if colors is not defined %}
    {% set colors = {
        'default':                '#aacd4e',
        'section':                '#666',
        'event_listener':         '#3dd',
        'event_listener_loading': '#add',
        'template':               '#dd3',
        'doctrine':               '#d3d',
        'propel':                 '#f4d',
        'child_sections':         '#eed',
    } %}
{% endif %}

{% block toolbar %}
    {% set icon %}
        <img width="16" height="28" alt="Time" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAABqUlEQVR42t2Vv0sCYRyHX9OmEhsMx/YKGlwLQ69DTEUSBJEQEy5J3FRc/BsuiFqEIIcQIRo6ysUhoaBBWhoaGoJwiMJLglRKrs8bXgienmkQdPDAwX2f57j3fhFJkkbiPwTK5bIiFoul3kmPud8MqKMewDXpwuGww+12n9hsNhFnlijYf/Z4PDmO45Yxo+10ZFGTyWRMEItU6AdCx7lczkgd6n7J2Wx2xm63P6jJMk6n80YQBBN1aUDv9XqvlAbbm2LE7/cLODRB0un0VveAeoDC8/waCQQC18MGQqHQOcEKvw8bcLlcL6TfYnVtCrGRAlartUUYhmn1jKg/E3USjUYfhw3E4/F7ks/nz4YNFIvFQ/ogbUYikdefyqlU6gnuOg2YK5XKvs/n+xhUDgaDTVEUt+HO04ABOBA5isViDTU5kUi81Wq1AzhWMEkDGmAEq2C3UCjcYXGauDvfEsuyUjKZbJRKpVvM8IABU9SVX+cxYABmwIE9cFqtVi9xtgvsC2AHbIAFoKey0gdlHEyDObAEWLACFsEsMALdIJ80+dK0bTS95v7+v/AJnis0eO906QwAAAAASUVORK5CYII="/>
        <span>{{ '%.0f'|format(collector.totaltime) }} ms</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Total time</b>
            <span>{{ '%.0f'|format(collector.totaltime) }} ms</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/time.png') }}" alt="Timeline" /></span>
    <strong>Timeline</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Timeline</h2>

    {% set threshold = app.request.query.get('threshold', 1) %}
    {% set width = app.request.query.get('width', 680) %}

    <form action="" method="get" style="display: inline">
        <input type="hidden" name="panel" value="time" />
        <table>
            <tr>
                <th style="width: 20%">Total time</th>
                <td>{{ '%.0f'|format(collector.totaltime) }} ms</td>
            </tr>
            <tr>
                <th>Initialization time</th>
                <td>{{ '%.0f'|format(collector.inittime) }} ms</td>
            </tr>
            <tr>
                <th>Threshold</th>
                <td><input type="number" size="3" name="threshold" value="{{ threshold }}" min="0" /> ms</td>
            </tr>
            <tr>
                <th>Width</th>
                <td><input type="range" name="width" min="0" max="1200" step="10" value="{{ width }}" onChange="drawCanvases(this.value);" /> px</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><input type="submit" value="refresh" /></td>
            </tr>
        </table>
    </form>

    <h3>
        {{ profile.parent ? "Request" : "Main Request" }}
        <small>
            - {{ collector.events.__section__.totaltime }} ms
            {% if profile.parent %}
                - <a href="{{ path('_profiler', { 'token': profile.parent.token, 'panel': 'time', 'threshold': threshold, 'width': width }) }}">parent</a>
            {% endif %}
        </small>
    </h3>

    {% set max = collector.events.__section__.endtime %}

    {{ _self.display_timeline('timeline_' ~ token, collector.events, threshold, colors, width) }}

    {% if profile.children|length %}
        {% for child in profile.children %}
            {% set events = child.getcollector('time').events %}
            <h3>
                Sub-request "<a href="{{ path('_profiler', { 'token': child.token, 'panel': 'time', 'threshold': threshold, 'width': width }) }}">{{ child.getcollector('request').requestattributes.get('_controller') }}</a>"
                <small> - {{ events.__section__.totaltime }} ms</small>
            </h3>

            {{ _self.display_timeline('timeline_' ~ child.token, events, threshold, colors, width) }}
        {% endfor %}
    {% endif %}

    <script type="text/javascript">//<![CDATA[
        function drawCanvas(request, max, threshold, width) {
            "use strict";
            var text,
                ms,
                xc,
                mainEvents,
                colors = {{ colors|json_encode|raw }},
                space = 10.5,
                ratio = (width - space * 2) / max,
                height = 0,
                h = space,
                x = request.left * ratio + space,
                canvas = document.getElementById('timeline_' + request.id),
                ctx = canvas.getContext("2d");

            request.events = request.events.filter(function(event) {
                return event.totaltime >= threshold;
            });

            height += 38 * request.events.length;
            canvas.width = width;
            ctx.textBaseline = "middle";
            ctx.lineWidth = 0;

            request.events.forEach(function(event) {
                event.periods.forEach(function(period) {
                    if ('__section__.child' === event.name) {
                        ctx.fillStyle = colors.child_sections;
                        ctx.fillRect(x + period.begin * ratio, 0, (period.end - period.begin) * ratio, height);
                    } else if ('section' === event.category) {
                        ctx.beginPath();
                        ctx.strokeStyle = "#dfdfdf";
                        ctx.moveTo(x + period.begin * ratio, 0);
                        ctx.lineTo(x + period.begin * ratio, height);
                        ctx.moveTo(x + period.end * ratio, 0);
                        ctx.lineTo(x + period.end * ratio, height);
                        ctx.fill();
                        ctx.closePath();
                        ctx.stroke();
                    }
                });
            });

            mainEvents = request.events.filter(function(event) {
                return '__section__.child' !== event.name;
            });

            mainEvents.forEach(function(event) {

                h += 8;

                event.periods.forEach(function(period) {

                    if (colors[event.name]) {
                        ctx.fillStyle = colors[event.name];
                        ctx.strokeStyle = colors[event.name];
                    } else if (colors[event.category]) {
                        ctx.fillStyle = colors[event.category];
                        ctx.strokeStyle = colors[event.category];
                    } else {
                        ctx.fillStyle = colors['default'];
                        ctx.strokeStyle = colors['default'];
                    }

                    if ('section' !== event.category) {
                        ctx.fillRect(x + period.begin * ratio, h + 3, 2, 6);
                        ctx.fillRect(x + period.begin * ratio, h, (period.end - period.begin) * ratio || 2, 6);
                    } else {
                        ctx.beginPath();
                        ctx.moveTo(x + period.begin * ratio, h);
                        ctx.lineTo(x + period.begin * ratio, h + 11);
                        ctx.lineTo(x + period.begin * ratio + 8, h);
                        ctx.lineTo(x + period.begin * ratio, h);
                        ctx.fill();
                        ctx.closePath();
                        ctx.stroke();

                        ctx.beginPath();
                        ctx.moveTo(x + period.end * ratio, h);
                        ctx.lineTo(x + period.end * ratio, h + 11);
                        ctx.lineTo(x + period.end * ratio - 8, h);
                        ctx.lineTo(x + period.end * ratio, h);
                        ctx.fill();
                        ctx.closePath();
                        ctx.stroke();

                        ctx.beginPath();
                        ctx.moveTo(x + period.begin * ratio, h);
                        ctx.lineTo(x + period.end * ratio, h);
                        ctx.lineTo(x + period.end * ratio, h + 2);
                        ctx.lineTo(x + period.begin * ratio, h + 2);
                        ctx.lineTo(x + period.begin * ratio, h);
                        ctx.fill();
                        ctx.closePath();
                        ctx.stroke();
                    }
                });

                h += 30;

                ctx.beginPath();
                ctx.strokeStyle = "#dfdfdf";
                ctx.moveTo(0, h - 10);
                ctx.lineTo(width, h - 10);
                ctx.closePath();
                ctx.stroke();
            });

            h = space;

            mainEvents.forEach(function(event) {

                ctx.fillStyle = "#444";
                ctx.font = "12px sans-serif";
                text = event.name;
                ms = " ~ " + (event.totaltime < 1 ? event.totaltime : parseInt(event.totaltime, 10)) + " ms";
                if (x + event.starttime * ratio + ctx.measureText(text + ms).width > width) {
                    ctx.textAlign = "end";
                    ctx.font = "10px sans-serif";
                    xc = x + event.endtime * ratio - 1;
                    ctx.fillText(ms, xc, h);

                    xc -= ctx.measureText(ms).width;
                    ctx.font = "12px sans-serif";
                    ctx.fillText(text, xc, h);
                } else {
                    ctx.textAlign = "start";
                    ctx.font = "12px sans-serif";
                    xc = x + event.starttime * ratio + 1;
                    ctx.fillText(text, xc, h);

                    xc += ctx.measureText(text).width;
                    ctx.font = "10px sans-serif";
                    ctx.fillText(ms, xc, h);
                }

                h += 38;
            });
        }

        function drawCanvases(width)
        {
            "use strict";
            requests_data.requests.forEach(function(request) {
                drawCanvas(request, requests_data.max, {{ threshold }}, width);
            });
        }

        var requests_data = {
            "max": {{ "%F"|format(collector.events.__section__.endtime) }},
            "requests": [
{{ _self.dump_request_data(token, profile, collector.events, collector.events.__section__.origin) }}

{% if profile.children|length %}
                ,
{% for child in profile.children %}
{{ _self.dump_request_data(child.token, child, child.getcollector('time').events, collector.events.__section__.origin) }}{{ loop.last ? '' : ',' }}
{% endfor %}
{% endif %}
            ]
        };

        drawCanvases({{ width }});
    //]]></script>
{% endblock %}

{% macro dump_request_data(token, profile, events, origin) %}
                {
                    "id": "{{ token }}",
                    "left": {{ "%F"|format(events.__section__.origin - origin) }},
                    "events": [
{{ _self.dump_events(events) }}
                    ]
                }
{% endmacro %}

{% macro dump_events(events) %}
{% for name, event in events %}
{% if '__section__' != name %}
                        {
                            "name": "{{ name }}",
                            "category": "{{ event.category }}",
                            "origin": {{ "%F"|format(event.origin) }},
                            "starttime": {{ "%F"|format(event.starttime) }},
                            "endtime": {{ "%F"|format(event.endtime) }},
                            "totaltime": {{ "%F"|format(event.totaltime) }},
                            "periods": [
                                {%- for period in event.periods -%}
                                    {"begin": {{ "%F"|format(period.0) }}, "end": {{ "%F"|format(period.1) }}}{{ loop.last ? '' : ', ' }}
                                {%- endfor -%}
                            ]
                        }{{ loop.last ? '' : ',' }}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro display_timeline(id, events, threshold, colors, width) %}
    {% set height = 0 %}
    {% for name, event in events if '__section__' != name and event.totaltime >= threshold %}
        {% set height = height + 38 %}
    {% endfor %}

    <div>
        <small>
            {% for category, color in colors %}
                <span style="background-color: {{ color }}">&nbsp;&nbsp;&nbsp;</span> {{ category }}&nbsp;&nbsp;
            {% endfor %}
        </small>
    </div>

    <canvas width="{{ width }}" height="{{ height }}" id="{{ id }}" class="timeline"></canvas>
{% endmacro %}
