{% set status_code = profile.statuscode|default(0) %}
{% set interrupted = command_collector is same as false ? null : command_collector.interruptedBySignal %}
{% set css_class = status_code == 113 or interrupted is not null ? 'status-warning' : status_code > 0 ? 'status-error' : 'status-success' %}

<div class="status {{ css_class }}">
    <div class="container">
        {% if status_code > 0 %}
            <p class="status-error-details">
                <span class="icon">{{ source('@WebProfiler/Icon/alert-circle.svg') }}</span>
                <span class="status-response-status-code">Error ({{ status_code }})</span>
            </p>
        {% endif %}

        <h2>
            <span class="status-request-method">
                {{ profile.method|upper }}
            </span>

            {{ profile.url|length < 160 ? profile.url : profile.url[:160] ~ '…' }}
        </h2>

        <dl class="metadata">
            {% if status_code == 0 or interrupted %}
                <span class="status-response-status-code">{{ interrupted is null ? 'Success' : 'Interrupted by signal: ' ~ interrupted }}</span>
            {% endif %}

            {% if request_collector.requestserver.has('SYMFONY_CLI_BINARY_NAME') %}
                <dt>Symfony CLI</dt>
                <dd>v{{ request_collector.requestserver.get('SYMFONY_CLI_VERSION') }}</dd>
            {% endif %}

            <dt>Application</dt>
            <dd>
                <a href="{{ path('_profiler_search_results', { token: token, limit: 10, ip: profile.ip }) }}">{{ profile.ip }}</a>
            </dd>

            <dt>Profiled on</dt>
            <dd><time data-convert-to-user-timezone data-render-as-datetime datetime="{{ profile.time|date('c') }}">{{ profile.time|date('r') }}</time></dd>

            <dt>Token</dt>
            <dd>{{ profile.token }}</dd>
        </dl>
    </div>
</div>
