{% extends 'WebProfilerBundle:Profiler:base.html.twig' %}

{% block body %}
    <div class="header">
        <h1>
            <img alt="" src="{{ asset('bundles/webprofiler/images/profiler.png') }}" />
            Symfony Profiler
        </h1>
        <div>
            <em><a href="{{ profiler.url }}">{{ profiler.url }}</a></em> by <em>{{ profiler.ip }}</em> at <em>{{ profiler.time|date('r') }}</em>
        </div>
    </div>

    {% render 'WebProfilerBundle:Profiler:toolbar' with { 'token': token, 'position': 'normal' } %}

    <table>
        <tr><td class="menu">
            {% if templates is defined %}
                <ul>
                    {% for name, template in templates %}
                        {% set menu %}{{ template.renderBlock('menu', { 'collector': profiler.get(name)}) }}{% endset %}
                        {% if menu != '' %}
                            <li
                                {% if name == panel %}class="selected"{% endif %}
                            >
                                <a href="{{ path('_profiler_panel', { 'token': token, 'panel': name }) }}">{{ menu|raw }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% render 'WebProfilerBundle:Profiler:searchBar' with { 'token': token } %}

            {% include 'WebProfilerBundle:Profiler:admin.html.twig' with { 'token': token } only %}
        </td><td class="main">
            <div class="content">
                {% block panel '' %}
            </div>
        </td></tr>
    </table>
{% endblock %}
