{% extends 'WebProfilerBundle:Profiler:base.html.twig' %}

{% block body %}

    {% render 'WebProfilerBundle:Profiler:toolbar' with { 'token': token, 'position': 'normal' } %}

    <div id="content">
        {% include 'WebProfilerBundle:Profiler:header.html.twig' only %}

        <div id="main">

            <div class="clear_fix">
                <div id="collector_wrapper">
                    {% if profile %}
                        <div id="resume">
                            <a id="resume-view-all" href="{{ path('_profiler_search', {limit: 10}) }}">View all</a>
                            <strong>Profile for:</strong>
                            {{ profile.method|upper }}
                            {% if profile.method|upper in ['GET', 'HEAD'] %}
                                <a href="{{ profile.url }}">{{ profile.url }}</a>
                            {% else %}
                                {{ profile.url }}
                            {% endif %}
                            <span class="date">
                                <em>by {{ profile.ip }}</em> at <em>{{ profile.time|date('r') }}</em>
                            </span>
                        </div>
                    {% endif %}

                    <div id="collector_content">
                        {% include 'WebProfilerBundle:Profiler:base_js.html.twig' %}
                        {% block panel '' %}
                    </div>
                </div>
                <div id="navigation">
                    {% if templates is defined %}
                        <ul id="menu_profiler">
                            {% for name, template in templates %}
                                {% set menu %}{{ template.renderBlock('menu', { 'collector': profile.getcollector(name)}) }}{% endset %}
                                {% if menu != '' %}
                                    <li class="{{ name }}{% if name == panel %} selected{% endif %}">
                                        <a href="{{ path('_profiler', { 'token': token, 'panel': name }) }}">{{ menu|raw }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% render 'WebProfilerBundle:Profiler:searchBar' %}
                    {% include 'WebProfilerBundle:Profiler:admin.html.twig' with { 'token': token } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
