<!-- START of Symfony Web Debug Toolbar -->
{% if 'normal' != position %}
    <div id="sfMiniToolbar-{{ token }}" class="sf-minitoolbar" data-no-turbolink>
        <a href="javascript:void(0);" title="Show Symfony toolbar" onclick="
            var elem = this.parentNode;
            if (elem.style.display == 'none') {
                document.getElementById('sfToolbarMainContent-{{ token }}').style.display = 'none';
                document.getElementById('sfToolbarClearer-{{ token }}').style.display = 'none';
                elem.style.display = 'block';
            } else {
                document.getElementById('sfToolbarMainContent-{{ token }}').style.display = 'block';
                document.getElementById('sfToolbarClearer-{{ token }}').style.display = 'block';
                elem.style.display = 'none'
            }

            Sfjs.setPreference('toolbar/displayState', 'block');
        ">
            {{ include('@WebProfiler/Icon/symfony.svg.twig') }}
        </a>
    </div>
    <style>
        {{ include('@WebProfiler/Profiler/toolbar.css.twig', { 'position': position, 'floatable': true }) }}
    </style>
    <div id="sfToolbarClearer-{{ token }}" style="clear: both; height: 38px;"></div>
{% endif %}

<div id="sfToolbarMainContent-{{ token }}" class="sf-toolbarreset clear-fix" data-no-turbolink>
    {% for name, template in templates %}
        {{ template.renderblock('toolbar', {
            'collector': profile.getcollector(name),
            'profiler_url': profiler_url,
            'token': profile.token,
            'name': name
          })
        }}
    {% endfor %}

    {% if 'normal' != position %}
        <a class="hide-button" title="Close Toolbar" onclick="
            var p = this.parentNode;
            p.style.display = 'none';
            (p.previousElementSibling || p.previousSibling).style.display = 'none';
            document.getElementById('sfMiniToolbar-{{ token }}').style.display = 'block';
            Sfjs.setPreference('toolbar/displayState', 'none');
        ">
            {{ include('@WebProfiler/Icon/close.svg.twig') }}
        </a>
    {% endif %}
</div>
<!-- END of Symfony Web Debug Toolbar -->
