{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set dumps_count = collector.dumpsCount %}

    {% if dumps_count %}
        {% set icon %}
            <img width="21" height="28" alt="dump()" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjEgMjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIxIDI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjM0YzRjNGIiBkPSJNMjEgMTRoLTFjLTAuMy00LjgtNC4xLTguNy05LTlWNGgtMXYxYy00LjggMC4zLTguNyA0LjEtOSA5SDB2MWgxYzAuMyA0LjggNC4xIDguNyA5IDl2MWgxdi0xIGM0LjgtMC4zIDguNy00LjEgOS05aDFWMTR6IE0xMSAyMnYtNGgtMXY0Yy0zLjctMC4yLTYuNy0zLjItNy03aDR2LTFIM2MwLjItMy43IDMuMi02LjcgNy03djRoMVY3YzMuNyAwLjIgNi43IDMuMiA3IDdoLTR2MWg0IEMxNy43IDE4LjcgMTQuNyAyMS43IDExIDIyeiIvPjwvc3ZnPg==" />
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ dumps_count }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>dump()</b>
            </div>
            {% for dump in collector.getDumps('html') %}
                <div class="sf-toolbar-info-piece">
                    in
                    {% if dump.file %}
                        {% set link = dump.file|file_link(dump.line) %}
                        {% if link %}
                            <a href="{{ link }}" title="{{ dump.file }}">{{ dump.name }}</a>
                        {% else %}
                            <abbr title="{{ dump.file }}">{{ dump.name }}</abbr>
                        {% endif %}
                    {% else %}
                        {{ dump.name }}
                    {% endif %}
                    line {{ dump.line }}:
                    {{ dump.data|raw }}
                </div>
            {% endfor %}
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="var h = this.parentNode.innerHTML, rx=/<script>(.*?)<\/script>/g, s; while (s = rx.exec(h)) {eval(s[1]);};" />
        {% endset %}

        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': true } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
        {{- "" -}}
        <img width="28" height="28" alt="dump()" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjggMjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI4IDI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjM0YzRjNGIiBkPSJNMjggMTNoLTEuMUMyNi41IDYuNiAyMS40IDEuNSAxNSAxLjFWMGgtMnYxLjFDNi42IDEuNSAxLjUgNi42IDEuMSAxM0gwdjJoMS4xQzEuNSAyMS40IDYuNiAyNi41IDEzIDI2LjkgVjI4aDJ2LTEuMWM2LjQtMC41IDExLjUtNS42IDExLjktMTEuOUgyOFYxM3ogTTE1IDI0LjlWMTloLTJ2NS45Yy01LjMtMC41LTkuNS00LjctOS45LTkuOUg5di0ySDMuMUMzLjUgNy43IDcuNyAzLjUgMTMgMy4xVjloMiBWMy4xYzUuMyAwLjUgOS41IDQuNyA5LjkgOS45SDE5djJoNS45QzI0LjUgMjAuMyAyMC4zIDI0LjUgMTUgMjQuOXoiLz48L3N2Zz4=" />
        {{- "" -}}
        </span>
        <strong>dump()</strong>
        <span class="count">
            <span>{{ collector.dumpsCount }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>dump()</h2>

    <style>
        li.sf-dump {
            list-style-type: disc;
        }
        .sf-dump ol>li {
            padding: 0;
        }
        .sf-dump a {
            cursor: pointer;
        }
        .sf-dump-compact {
            display: none;
        }
    </style>

    {% if collector.dumpsCount %}
        <ul class="alt">
            {% for dump in collector.getDumps('html') %}
            <li class="sf-dump sf-reset">
                in
                {% if dump.line %}
                    {% set link = dump.file|file_link(dump.line) %}
                    {% if link %}
                        <a href="{{ link }}" title="{{ dump.file }}">{{ dump.name }}</a>
                    {% else %}
                        <abbr title="{{ dump.file }}">{{ dump.name }}</abbr>
                    {% endif %}
                {% else %}
                    {{ dump.name }}
                {% endif %}
                line {{ dump.line }}:
                <a onclick="Sfdump.toggle(this)">▶</a>
                <span class="sf-dump-compact">
                {% if dump.fileExcerpt %}{{ dump.fileExcerpt|raw }}{% else %}{{ dump.file|file_excerpt(dump.line) }}{% endif %}
                </span>

                {{ dump.data|raw }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            <em>No dumped variable</em>
        </p>
    {% endif %}
{% endblock %}
