{% extends "widgets.html.twig" %}

{% block field__row %}
{% spaceless %}
    <div>
        {{ form_label(context) }}
        {{ form_errors(context) }}
        {{ form_widget(context) }}
    </div>
{% endspaceless %}
{% endblock field__row %}

{% block form__widget %}
{% spaceless %}
    <div {{ block('attributes') }}>
        {{ block('field__rows') }}
        {{ form_rest(context) }}
    </div>
{% endspaceless %}
{% endblock form__widget %}
