{% extends "Twig::widgets.html.twig" %}

{% block field__row %}
{% spaceless %}
    <div>
        {{ renderer.label }}
        {{ renderer.errors }}
        {{ renderer.widget }}
    </div>
{% endspaceless %}
{% endblock field__row %}

{% block form__widget %}
{% spaceless %}
    {{ block('field__rows') }}
    {{ renderer.rest }}
{% endspaceless %}
{% endblock form__widget %}
