{% extends "TwigBundle::widgets.html.twig" %}

{% block row %}
{% spaceless %}
    <div>
        {{ this.label }}
        {{ this.errors }}
        {{ this.widget }}
    </div>
{% endspaceless %}
{% endblock row %}

{% block form__widget %}
{% spaceless %}
    {{ block('rows') }}
    {{ this.rest }}
{% endspaceless %}
{% endblock form__widget %}
