{% block group %}
    {{ group|render_errors }}
    {% for field in group %}
        {% if not field.ishidden %}
            {{ field|render }}
        {% endif %}
    {% endfor %}
    {{ group|render_hidden }}
{% endblock group %}

{% block field %}
    <div>
        {{ field|render_label }}
        {{ field|render_errors }}
        {{ field|render_widget }}
    </div>
{% endblock field %}

{% block collection %}
    <div>
        {% for field in collection %}
            {{ field|render }}
        {% endfor %}
    </div>
{% endblock collection %}

{% block errors %}
    {% if errors %}
    <ul>
        {% for error in errors %}
            <li>{% trans error.0 with error.1 from validators %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock errors %}

{% block hidden %}
    {% for field in fields %}
        {{ field|render_widget }}
    {% endfor %}
{% endblock hidden %}

{% block label %}
    <label for="{{ id }}">{% trans label %}</label>
{% endblock label %}
