{% block row %}
{% spaceless %}
    <div>
        {{ field.renderer.label }}
        {{ field.renderer.errors }}
        {{ field.renderer.widget }}
    </div>
{% endspaceless %}
{% endblock row %}

{% block errors %}
{% spaceless %}
    {% if field.hasErrors %}
    <ul>
        {% for error in field.errors %}
            <li>{% trans error.messageTemplate with error.messageParameters from 'validators' %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock errors %}

{% block hidden %}
{% spaceless %}
    {% for child in field.allHiddenFields %}
        {{ child.renderer.widget }}
    {% endfor %}
{% endspaceless %}
{% endblock hidden %}

{% block label %}
{% spaceless %}
    <label for="{{ id }}">{% trans label %}</label>
{% endspaceless %}
{% endblock label %}

{% block attributes %}
{% spaceless %}
    {% for key, value in attr %}
        {{ key }}="{{ value }}"
    {% endfor %}
{% endspaceless %}
{% endblock attributes %}

{% block field_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ name }}"{% if field.disabled %} disabled="disabled"{% endif %}{% if field.required %} required="required"{% endif %}
    {{ block('attributes') }}
{% endspaceless %}
{% endblock field_attributes %}

{% block form__widget %}
{% spaceless %}
    {{ field.renderer.errors }}
    {% for child in field.visibleFields %}
        {{ child.renderer.row }}
    {% endfor %}
    {{ field.renderer.hidden }}
{% endspaceless %}
{% endblock form__widget %}

{% block collection__widget %}
    {{ block('form__widget') }}
{% endblock collection__widget %}

{% block text__widget %}
{% spaceless %}
    {% if attr.type is defined and attr.type != "text" %}
        <input {{ block('field_attributes') }} value="{{ field.displayedData }}" />
    {% else %}
        {% if attr.maxlength is not defined and max_length is defined %}
            {% set attr = attr|merge({ 'maxlength': max_length }) %}
        {% endif %}
        <input type="text" {{ block('field_attributes') }} value="{{ field.displayedData }}" />
    {% endif %}
{% endspaceless %}
{% endblock text__widget %}

{% block password__widget %}
{% spaceless %}
    {% set attr = attr|merge({ 'maxlength': attr.maxlength|default(field.maxlength) }) %}
    <input type="password" {{ block('field_attributes') }} value="{{ field.displayedData }}" />
{% endspaceless %}
{% endblock password__widget %}

{% block hidden__widget %}
{% spaceless %}
    <input type="hidden" id="{{ id }}" name="{{ name }}"{% if field.disabled %} disabled="disabled"{% endif %} value="{{ field.displayedData }}" />
{% endspaceless %}
{% endblock hidden__widget %}

{% block textarea__widget %}
{% spaceless %}
    <textarea {{ block('field_attributes') }}>{{ field.displayedData }}</textarea>
{% endspaceless %}
{% endblock textarea__widget %}

{% block options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if field.isChoiceGroup(label) %}
            <optgroup label="{{ choice }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if field.isChoiceSelected(nestedChoice) %} selected="selected"{% endif %}>{{ nestedLabel }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if field.isChoiceSelected(choice) %} selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock options %}

{% block choice__widget %}
{% spaceless %}
    {% if field.isExpanded %}
        {% for choice, child in field %}
            {{ child.renderer.widget }}
            <label for="{{ id }}">{{ field.label(choice) }}</label>
        {% endfor %}
    {% else %}
        <select {{ block('field_attributes') }}{% if field.isMultipleChoice %} multiple="multiple"{% endif %}>
            {% if field.preferredChoices|length > 0 %}
                {% set options = field.preferredChoices %}
                {{ block('options') }}
                <option disabled="disabled">{{ params.separator|default('-------------------') }}</option>
            {% endif %}
            {% set options = field.otherChoices %}
            {{ block('options') }}
        </select>
    {% endif %}
{% endspaceless %}
{% endblock choice__widget %}

{% block checkbox__widget %}
{% spaceless %}
    <input type="checkbox" {{ block('field_attributes') }}{% if field.hasValue %} value="{{ field.value }}"{% endif %}{% if field.ischecked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox__widget %}

{% block radio__widget %}
{% spaceless %}
    <input type="radio" {{ block('field_attributes') }}{% if field.hasValue %} value="{{ field.value }}"{% endif %}{% if field.ischecked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio__widget %}

{% block date_time__widget %}
{% spaceless %}
    {{ field.date.renderer.errors }}
    {{ field.time.renderer.errors }}
    {{ field.date.renderer.widget }}
    {{ field.time.renderer.widget }}
{% endspaceless %}
{% endblock date_time__widget %}

{% block date__widget %}
{% spaceless %}
    {% if field.isField %}
        {{ block('text__widget') }}
    {% else %}
        {{ date_pattern|replace({ 
            '{{ year }}': field.year.renderer.widget, 
            '{{ month }}': field.month.renderer.widget, 
            '{{ day }}': field.day.renderer.widget 
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date__widget %}

{% block time__widget %}
{% spaceless %}
    {% if field.isField %}{% set attr = attr|merge({ 'size': 1 }) %}{% endif %}
    {{ field.hour.renderer.widget(attr) }}:{{ field.minute.renderer.widget(attr) }}{% if field.isWithSeconds %}:{{ field.second.renderer.widget(attr) }}{% endif %}
{% endspaceless %}
{% endblock time__widget %}

{% block number__widget %}
{% spaceless %}
    {% set attr = attr|merge({ 'type': 'number' }) %}
    {{ block('text__widget') }}
{% endspaceless %}
{% endblock number__widget %}

{% block money__widget %}
{% spaceless %}
    {{ money_pattern|replace({ '{{ widget }}': block('text__widget') })|raw }}
{% endspaceless %}
{% endblock money__widget %}

{% block url__widget %}
{% spaceless %}
    {% set attr = attr|merge({ 'type': 'url' }) %}
    {{ block('text__widget') }}
{% endspaceless %}
{% endblock url__widget %}

{% block percent__widget %}
{% spaceless %}
    {{ block('text__widget') }} %
{% endspaceless %}
{% endblock percent__widget %}

{% block file__widget %}
{% spaceless %}
    {% set group = field %}
    {% set field = group.file %}
    <input type="file" {{ block('field_attributes') }} />
    {{ group.token.renderer.widget }}
    {{ group.original_name.renderer.widget }}
{% endspaceless %}
{% endblock file__widget %}

