{% block row %}
{% spaceless %}
    <div>
        {{ field.renderer.label }}
        {{ field.renderer.errors }}
        {{ field.renderer.widget }}
    </div>
{% endspaceless %}
{% endblock row %}

{% block errors %}
{% spaceless %}
    {% if field.hasErrors %}
    <ul>
        {% for error in field.errors %}
            <li>{% trans error.messageTemplate with error.messageParameters from 'validators' %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock errors %}

{% block hidden %}
{% spaceless %}
    {% for child in field.allHiddenFields %}
        {{ child.renderer.widget }}
    {% endfor %}
{% endspaceless %}
{% endblock hidden %}

{% block label %}
{% spaceless %}
    <label for="{{ id }}">{% trans label %}</label>
{% endspaceless %}
{% endblock label %}

{% block attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ name }}"{% if class %} class="{{ class }}"{% endif %}{% if field.disabled %} disabled="disabled"{% endif %}{% if field.required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if size %} size="{{ size }}"{% endif %}
{% endspaceless %}
{% endblock attributes %}

{% block widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('attributes') }} value="{{ field.displayedData }}" />
{% endspaceless %}
{% endblock widget %}

{% block form__widget %}
{% spaceless %}
    {{ field.renderer.errors }}
    {% for child in field.visibleFields %}
        {{ child.renderer.row }}
    {% endfor %}
    {{ field.renderer.hidden }}
{% endspaceless %}
{% endblock form__widget %}

{% block collection__widget %}
    {{ block('form__widget') }}
{% endblock collection__widget %}

{% block text__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock text__widget %}

{% block password__widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock password__widget %}

{% block hidden__widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock hidden__widget %}

{% block textarea__widget %}
{% spaceless %}
    <textarea {{ block('attributes') }}>{{ field.displayedData }}</textarea>
{% endspaceless %}
{% endblock textarea__widget %}

{% block options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if choice_list.isChoiceGroup(label) %}
            <optgroup label="{{ choice }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if choice_list.isChoiceSelected(nestedChoice, field.displayedData) %} selected="selected"{% endif %}>{{ nestedLabel }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if choice_list.isChoiceSelected(choice, field.displayedData) %} selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock options %}

{% block choice__widget %}
{% spaceless %}
    {% if expanded %}
        {% for choice, child in field %}
            {{ child.renderer.widget }}
            {{ child.renderer.label(choice_list.label(choice)) }}
        {% endfor %}
    {% else %}
    <select {{ block('attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if not field.required %}
            <option value="">{{ empty_value }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('options') }}
            <option disabled="disabled">{{ separator }}</option>
        {% endif %}
        {% set options = choices %}
        {{ block('options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice__widget %}

{% block checkbox__widget %}
{% spaceless %}
    <input type="checkbox" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if field.data %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox__widget %}

{% block radio__widget %}
{% spaceless %}
    <input type="radio" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if field.data %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio__widget %}

{% block date_time__widget %}
{% spaceless %}
    {{ field.date.renderer.errors }}
    {{ field.time.renderer.errors }}
    {{ field.date.renderer.widget }}
    {{ field.time.renderer.widget }}
{% endspaceless %}
{% endblock date_time__widget %}

{% block date__widget %}
{% spaceless %}
    {% if widget == 'text' %}
        {{ block('text__widget') }}
    {% else %}
        {{ date_pattern|replace({ 
            '{{ year }}': field.year.renderer.widget, 
            '{{ month }}': field.month.renderer.widget, 
            '{{ day }}': field.day.renderer.widget 
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date__widget %}

{% block time__widget %}
{% spaceless %}
    {{ field.hour.renderer.widget({ 'size': '1' }) }}:{{ field.minute.renderer.widget({ 'size': '1' }) }}{% if with_seconds %}:{{ field.second.renderer.widget({ 'size': '1' }) }}{% endif %}
{% endspaceless %}
{% endblock time__widget %}

{% block number__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock number__widget %}

{% block integer__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock integer__widget %}

{% block money__widget %}
{% spaceless %}
    {{ money_pattern|replace({ '{{ widget }}': block('widget') })|raw }}
{% endspaceless %}
{% endblock money__widget %}

{% block url__widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock url__widget %}

{% block percent__widget %}
{% spaceless %}
    {{ block('widget') }} %
{% endspaceless %}
{% endblock percent__widget %}

{% block file__widget %}
{% spaceless %}
    {% set group = field %}
    {% set field = group.file %}
    <input type="file" {{ block('attributes') }} />
    {{ group.token.renderer.widget }}
    {{ group.original_name.renderer.widget }}
{% endspaceless %}
{% endblock file__widget %}

