{% block field_row %}
{% spaceless %}
    <div>
        {# TODO: would be nice to rename this variable to "field" #}
        {{ form_label(child) }}
        {{ form_errors(child) }}
        {{ form_field(child) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block form %}
{% spaceless %}
    {{ form_errors(field) }}
    {% for child in field.visibleFields %}
        {{ block('field_row') }}
    {% endfor %}
    {{ form_hidden(field) }}
{% endspaceless %}
{% endblock form %}

{% block errors %}
{% spaceless %}
    {% if field.hasErrors %}
    <ul>
        {% for error in field.errors %}
            <li>{% trans error.messageTemplate with error.messageParameters from 'validators' %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock errors %}

{% block hidden %}
{% spaceless %}
    {% for child in field.allHiddenFields %}
        {{ form_field(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock hidden %}

{% block label %}
{% spaceless %}
    <label for="{{ field.id }}">{% trans label %}</label>
{% endspaceless %}
{% endblock label %}

{% block attributes %}
{% spaceless %}
    {% for key, value in attr %}
        {{ key }}="{{ value }}"
    {% endfor %}
{% endspaceless %}
{% endblock attributes %}

{% block field_attributes %}
{% spaceless %}
    id="{{ field.id }}" name="{{ field.name }}"{% if field.disabled %} disabled="disabled"{% endif %}{% if field.required %} required="required"{% endif %}
    {{ block('attributes') }}
{% endspaceless %}
{% endblock field_attributes %}

{% block text_field %}
{% spaceless %}
    {% if attr.type is defined and attr.type != "text" %}
        <input {{ block('field_attributes') }} value="{{ field.displayedData }}" />
    {% else %}
        {% set attr = attr|merge({ 'maxlength': attr.maxlength|default(field.maxlength) }) %}
        <input type="text" {{ block('field_attributes') }} value="{{ field.displayedData }}" />
    {% endif %}
{% endspaceless %}
{% endblock text_field %}

{% block password_field %}
{% spaceless %}
    {% set attr = attr|merge({ 'maxlength': attr.maxlength|default(field.maxlength) }) %}
    <input type="password" {{ block('field_attributes') }} value="{{ field.displayedData }}" />
{% endspaceless %}
{% endblock password_field %}

{% block hidden_field %}
{% spaceless %}
    <input type="hidden" id="{{ field.id }}" name="{{ field.name }}"{% if field.disabled %} disabled="disabled"{% endif %} value="{{ field.displayedData }}" />
{% endspaceless %}
{% endblock hidden_field %}

{% block textarea_field %}
{% spaceless %}
    <textarea {{ block('field_attributes') }}>{{ field.displayedData }}</textarea>
{% endspaceless %}
{% endblock textarea_field %}

{% block options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if field.isChoiceGroup(label) %}
            <optgroup label="{{ choice }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if field.isChoiceSelected(nestedChoice) %} selected="selected"{% endif %}>{{ nestedLabel }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if field.isChoiceSelected(choice) %} selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock options %}

{% block choice_field %}
{% spaceless %}
    {% if field.isExpanded %}
        {% for choice, child in field %}
            {{ form_field(child) }}
            <label for="{{ child.id }}">{{ field.label(choice) }}</label>
        {% endfor %}
    {% else %}
        <select {{ block('field_attributes') }}{% if field.isMultipleChoice %} multiple="multiple"{% endif %}>
            {% if field.preferredChoices|length > 0 %}
                {% set options = field.preferredChoices %}
                {{ block('options') }}
                <option disabled="disabled">{{ params.separator|default('-------------------') }}</option>
            {% endif %}
            {% set options = field.otherChoices %}
            {{ block('options') }}
        </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_field %}

{% block checkbox_field %}
{% spaceless %}
    <input type="checkbox" {{ block('field_attributes') }}{% if field.hasValue %} value="{{ field.value }}"{% endif %}{% if field.ischecked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_field %}

{% block radio_field %}
{% spaceless %}
    <input type="radio" {{ block('field_attributes') }}{% if field.hasValue %} value="{{ field.value }}"{% endif %}{% if field.ischecked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio_field %}

{% block date_time_field %}
{% spaceless %}
    {{ form_errors(field.date) }}
    {{ form_errors(field.time) }}
    {{ form_field(field.date) }}
    {{ form_field(field.time) }}
{% endspaceless %}
{% endblock date_time_field %}

{% block date_field %}
{% spaceless %}
    {% if field.isField %}
        {{ block('text_field') }}
    {% else %}
        {{ field.pattern|replace({ '{{ year }}': form_field(field.year), '{{ month }}': form_field(field.month), '{{ day }}': form_field(field.day) })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_field %}

{% block time_field %}
{% spaceless %}
    {% if field.isField %}{% set attr = attr|merge({ 'size': 1 }) %}{% endif %}
    {{ form_field(field.hour, attr) }}:{{ form_field(field.minute, attr) }}{% if field.isWithSeconds %}:{{ form_field(field.second, attr) }}{% endif %}
{% endspaceless %}
{% endblock time_field %}

{% block number_field %}
{% spaceless %}
    {% set attr = attr|merge({ 'type': 'number' }) %}
    {{ block('text_field') }}
{% endspaceless %}
{% endblock number_field %}

{% block money_field %}
{% spaceless %}
    {{ field.pattern|replace({ '{{ widget }}': block('number_field') })|raw }}
{% endspaceless %}
{% endblock money_field %}

{% block url_field %}
{% spaceless %}
    {% set attr = attr|merge({ 'type': 'url' }) %}
    {{ block('text_field') }}
{% endspaceless %}
{% endblock url_field %}

{% block percent_field %}
{% spaceless %}
    {{ block('text_field') }} %
{% endspaceless %}
{% endblock percent_field %}

{% block file_field %}
{% spaceless %}
    {% set group = field %}
    {% set field = group.file %}
    <input type="file" {{ block('field_attributes') }} />
    {{ form_field(group.token) }}
    {{ form_field(group.original_name) }}
{% endspaceless %}
{% endblock file_field %}

