{% extends "TwigBundle::widgets.html.twig" %}

{% block field__row %}
    <tr>
        <td>
            {{ form_label(context) }}
        </td>
        <td>
            {{ form_errors(context) }}
            {{ form_widget(context) }}
        </td>
    </tr>
{% endblock field__row %}

{% block form__errors %}
    <tr>
        <td colspan="2">
            {{ block('field__errors') }}
        </td>
    </tr>
{% endblock form__errors %}

{% block repeated__errors %}
    {{ block('form__errors') }}
{% endblock repeated__errors %}

{% block form__widget %}
    <table>
        {{ block('field__rows') }}
        {{ form_rest(context) }}
    </table>
{% endblock form__widget %}
