{% extends "TwigBundle::div_layout.html.twig" %}

{% block field__row %}
{% spaceless %}
    <tr>
        <td>
            {{ form_label(form) }}
        </td>
        <td>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock field__row %}

{% block form__errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <tr>
        <td colspan="2">
            {{ block('field__errors') }}
        </td>
    </tr>
    {% endif %}
{% endspaceless %}
{% endblock form__errors %}

{% block hidden__row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden__row %}

{% block repeated__errors %}
{% spaceless %}
    {{ block('form__errors') }}
{% endspaceless %}
{% endblock repeated__errors %}

{% block form__widget %}
{% spaceless %}
    <table {{ block('attributes') }}>
        {{ block('field__rows') }}
        {{ form_rest(form) }}
    </table>
{% endspaceless %}
{% endblock form__widget %}
