{% block rows %}
{% spaceless %}
    {{ this.errors }}
    {% for field in fields %}
        {{ field.row }}
    {% endfor %}
{% endspaceless %}
{% endblock rows %}

{% block errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{% trans error.messageTemplate with error.messageParameters from 'validators' %}</li>
        {% endfor %}
    </ul>
    {% endif %}  	
{% endspaceless %}
{% endblock errors %}

{% block rest %}
{% spaceless %}
    {% for field in fields %}
        {% if not field.rendered %}
            {{ field.row }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock rest %}

{% block label %}
{% spaceless %}
    <label for="{{ id }}">{% trans label %}</label>
{% endspaceless %}
{% endblock label %}

{% block attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ name }}"{% if class %} class="{{ class }}"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if size %} size="{{ size }}"{% endif %}
{% endspaceless %}
{% endblock attributes %}

{% block widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock widget %}

{% block text__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock text__widget %}

{% block password__widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock password__widget %}

{% block hidden__widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock hidden__widget %}

{% block hidden__row %}
    {{ this.widget }}
{% endblock hidden__row %}

{% block textarea__widget %}
{% spaceless %}
    <textarea {{ block('attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea__widget %}

{% block options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if choice_list.isChoiceGroup(label) %}
            <optgroup label="{{ choice }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if choice_list.isChoiceSelected(nestedChoice, value) %} selected="selected"{% endif %}>{{ nestedLabel }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if choice_list.isChoiceSelected(choice, value) %} selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock options %}

{% block choice__widget %}
{% spaceless %}
    {% if expanded %}
        {% for choice, field in fields %}
            {{ field.widget }}
            {{ field.label(choice_list.label(choice)) }}
        {% endfor %}
    {% else %}
    <select {{ block('attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if not required %}
            <option value="">{{ empty_value }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('options') }}
            <option disabled="disabled">{{ separator }}</option>
        {% endif %}
        {% set options = choices %}
        {{ block('options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice__widget %}

{% block checkbox__widget %}
{% spaceless %}
    <input type="checkbox" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox__widget %}

{% block radio__widget %}
{% spaceless %}
    <input type="radio" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio__widget %}

{% block date_time__widget %}
{% spaceless %}
    {{ fields.date.errors }}
    {{ fields.time.errors }}
    {{ fields.date.widget }}
    {{ fields.time.widget }}
{% endspaceless %}
{% endblock date_time__widget %}

{% block date__widget %}
{% spaceless %}
    {% if widget == 'text' %}
        {{ block('text__widget') }}
    {% else %}
        {{ date_pattern|replace({ 
            '{{ year }}': fields.year.widget, 
            '{{ month }}': fields.month.widget, 
            '{{ day }}': fields.day.widget 
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date__widget %}

{% block time__widget %}
{% spaceless %}
    {{ fields.hour.widget({ 'size': '1' }) }}:{{ fields.minute.widget({ 'size': '1' }) }}{% if with_seconds %}:{{ fields.second.widget({ 'size': '1' }) }}{% endif %}
{% endspaceless %}
{% endblock time__widget %}

{% block number__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock number__widget %}

{% block integer__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock integer__widget %}

{% block money__widget %}
{% spaceless %}
    {{ money_pattern|replace({ '{{ widget }}': block('widget') })|raw }}
{% endspaceless %}
{% endblock money__widget %}

{% block url__widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('widget') }}
{% endspaceless %}
{% endblock url__widget %}

{% block percent__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('widget') }} %
{% endspaceless %}
{% endblock percent__widget %}

{% block file__widget %}
{% spaceless %}
    {{ fields.file.widget }}
    {{ fields.token.widget }}
    {{ fields.name.widget }}
{% endspaceless %}
{% endblock file__widget %}

{% block collection__widget %}
{% spaceless %}
    {{ block('form__widget') }}
{% endspaceless %}
{% endblock collection__widget %}

{% block repeated__row %}
{% spaceless %}
    {{ block('rows') }}
{% endspaceless %}
{% endblock repeated__row %}
