{% block field__rows %}
    {{ form_errors(context) }}
    {% for context in context.children %}
        {{ form_row(context) }}
    {% endfor %}
{% endblock field__rows %}

{% block field__enctype %}
{% spaceless %}
    {% if multipart %}enctype="multipart/form-data"{% endif %}
{% endspaceless %}
{% endblock field__enctype %}

{% block field__errors %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{% trans error.messageTemplate with error.messageParameters from 'validators' %}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock field__errors %}

{% block field__rest %}
    {% for context in context.children %}
        {% if not context.rendered %}
            {{ form_widget(context) }}
        {% endif %}
    {% endfor %}
{% endblock field__rest %}

{% block field__label %}
{% spaceless %}
    <label for="{{ id }}">{% trans label %}</label>
{% endspaceless %}
{% endblock field__label %}

{% block attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ name }}"{% if class %} class="{{ class }}"{% endif %}{% if read_only %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if size %} size="{{ size }}"{% endif %}
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock attributes %}

{% block field__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('attributes') }} value="{{ value }}" />
{% endspaceless %}
{% endblock field__widget %}

{% block text__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('field__widget') }}
{% endspaceless %}
{% endblock text__widget %}

{% block password__widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('field__widget') }}
{% endspaceless %}
{% endblock password__widget %}

{% block hidden__widget %}
    {% set type = type|default('hidden') %}
    {{ block('field__widget') }}
{% endblock hidden__widget %}

{% block hidden__row %}
    {{ form_widget(context) }}
{% endblock hidden__row %}

{% block textarea__widget %}
{% spaceless %}
    <textarea {{ block('attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea__widget %}

{% block options %}
{% spaceless %}
    {% for choice, label in options %}
        {% if context.choiceGroup(label) %}
            <optgroup label="{{ choice }}">
                {% for nestedChoice, nestedLabel in label %}
                    <option value="{{ nestedChoice }}"{% if context.choiceSelected(nestedChoice) %} selected="selected"{% endif %}>{{ nestedLabel }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ choice }}"{% if context.choiceSelected(choice) %} selected="selected"{% endif %}>{{ label }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock options %}

{% block choice__widget %}
{% spaceless %}
    {% if expanded %}
        {% for choice, child in context %}
            {{ form_widget(child) }}
            {{ child.set('label', context.choiceLabel(choice)) }}
            {{ form_label(child) }}
        {% endfor %}
    {% else %}
    <select {{ block('attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if not required %}
            <option value="">{{ empty_value }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('options') }}
            <option disabled="disabled">{{ separator }}</option>
        {% endif %}
        {% set options = choices %}
        {{ block('options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice__widget %}

{% block checkbox__widget %}
{% spaceless %}
    <input type="checkbox" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox__widget %}

{% block radio__widget %}
{% spaceless %}
    <input type="radio" {{ block('attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio__widget %}

{% block date_time__widget %}
{% spaceless %}
    {{ form_errors(context.date) }}
    {{ form_errors(context.time) }}
    {{ form_widget(context.date) }}
    {{ form_widget(context.time) }}
{% endspaceless %}
{% endblock date_time__widget %}

{% block date__widget %}
{% spaceless %}
    {% if widget == 'text' %}
        {{ block('text__widget') }}
    {% else %}
        {{ date_pattern|replace({
            '{{ year }}': form_widget(context.year),
            '{{ month }}': form_widget(context.month),
            '{{ day }}': form_widget(context.day),
        })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date__widget %}

{% block time__widget %}
{% spaceless %}
    {{ form_widget(context.hour, { 'size': '1' }) }}:{{ form_widget(context.minute, { 'size': '1' }) }}{% if with_seconds %}:{{ form_widget(context.second, { 'size': '1' }) }}{% endif %}
{% endspaceless %}
{% endblock time__widget %}

{% block number__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('field__widget') }}
{% endspaceless %}
{% endblock number__widget %}

{% block integer__widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('field__widget') }}
{% endspaceless %}
{% endblock integer__widget %}

{% block money__widget %}
{% spaceless %}
    {{ money_pattern|replace({ '{{ widget }}': block('field__widget') })|raw }}
{% endspaceless %}
{% endblock money__widget %}

{% block url__widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('field__widget') }}
{% endspaceless %}
{% endblock url__widget %}

{% block percent__widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('field__widget') }} %
{% endspaceless %}
{% endblock percent__widget %}

{% block file__widget %}
{% spaceless %}
    {{ form_widget(context.file) }}
    {{ form_widget(context.token) }}
    {{ form_widget(context.name) }}
{% endspaceless %}
{% endblock file__widget %}

{% block collection__widget %}
{% spaceless %}
    {{ block('form__widget') }}
{% endspaceless %}
{% endblock collection__widget %}

{% block repeated__row %}
{% spaceless %}
    {{ block('field__rows') }}
{% endspaceless %}
{% endblock repeated__row %}
